*, *::after, *::before {
    box-sizing: border-box;
  }
  html {
      
      height: 100%;
      background-color: #9dc5c3;
      background-image: linear-gradient(315deg, #9dc5c3 0%, #5e5c5c 74%);
  }
  body {
      margin:0;
      min-height: 100%;
      background-color: #9dc5c3;
      background-image: linear-gradient(315deg, #9dc5c3 0%, #5e5c5c 74%);
  }
h1 {
    text-align: center;
}
.calculator {

    display: grid;
    grid-template-columns:repeat(4,150px);
    grid-template-rows: 120px repeat(5,100px);
    justify-content: center;
    align-content: center;
    
}
.calculator > button {
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid lightgray;
  outline: none;
  cursor: pointer;
}
.calculator > button:hover {
background-color: darkgrey;
}
.calculator > .expression {
    
    background-color: black;
    color:white;
    grid-column: span 4;
    text-align: end;
    font-size: 50px;
   
}
.calculator > .allclear {
    background-color:rgba(197, 34, 34, 0.842);
}
.calculator > .allclear:hover {
    background-color: rgb(248, 8, 8);
}
.calculator > .equalTo {
    background-color: rgb(35, 147, 218);
}
.calculator > .equalTo:hover {
    background-color: deepskyblue;
}
.calculator > .backspace {
    background-color: rgba(197, 34, 34, 0.842);
}
.calculator > .backspace:hover {
    background-color: rgb(248, 8, 8);
}
.operators {
    color: royalblue;
}